body {
   background-image: url("Images/Selfdecay Maze Banner.png");
   background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
}
iframe {
   border: 0;
   width: 100%;
   height: 120px;"
   position: center;
 }
 .center-align {
   display: inline-block
 }
